<div style="margin: 0;
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);">
    <div style="
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 0%;">
            <div style="font-size: 100px; 
            height: 70%; color: red; margin-top: 40%;">
                404
            </div>
            <div style="height: 30%; margin-top: 40%; 
            background-color: black; color: white;
            width: 100%; padding: 20%; display: flex; 
            flex-direction: column;
            justify-content: center; font-size: 23px;">
                <div style="display: flex; flex-direction: row;">
                    <mat-icon style="color: blue; margin-top: 3%;
                    margin-right: 4%;">info</mat-icon>&nbsp;
                    <span style="line-height: 1.6"> this page is not available</span> 
    
                </div>
                <div style="display: flex; flex-direction: row; 
                justify-content:space-between; margin-top: 20px;">
                    <button mat-stroked-button style="background-color: gold;
                    color: black; margin-right: 20px;" routerLink="/">Home</button>
                    <button mat-stroked-button
                    style="background-color: gainsboro; 
                    color: black;" (click)="this.location.back()">Back</button>
                </div>

            </div>
        </div>
</div>