<div id="login-box">
    <div class="left-box">
      <h1> Registration</h1>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Hotel Name</mat-label>
        <input matInput placeholder="Hotel" >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Hotel Address</mat-label>
        <input matInput placeholder="Hotel Address" >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Contact Info</mat-label>
        <input matInput placeholder="Contact Info" >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Hotel Image</mat-label>
        <input matInput placeholder="Hotel Image" >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput placeholder="Email Address" >
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Enter OTP</mat-label>
        <input matInput placeholder="Enter OTP" >
      </mat-form-field>

      <button mat-flat-button style="background-color: #ffd000">Request For Registration</button>
      <!-- <input type="submit" name="Request For Registration" placeholder="Sing Up"/> -->
    </div>
    <div class="right-box" id="content-desktop">

      <!-- <span class="signinwith">Sign in with<br>Social Network </span>
      <button class="social facebook">Log in with Facebook</button>
      <button class="social twitter">Log in with Twitter</button>
      <button class="social google">Log in with Google+</button>
     -->
    </div>
    <!-- <div class="or">OR</div> -->
  </div> 