<!-- <div id="login-box">
    <div class="left-box">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Hotel Name</mat-label>
        <input matInput placeholder="Hotel" >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>phone number</mat-label>
        <input matInput placeholder="Contact Info" >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput placeholder="Email Address" >
      </mat-form-field>
      <button mat-flat-button style="background-color: #ffd000">Request For OTP</button>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Enter OTP</mat-label>
        <input matInput placeholder="Enter OTP" >
      </mat-form-field>

    </div>
    <div class="right-box">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>line 1</mat-label>
        <input matInput placeholder="Enter OTP" >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>line 2</mat-label>
        <input matInput placeholder="Enter OTP" >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>landmark</mat-label>
        <input matInput placeholder="Enter OTP" >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>pincode</mat-label>
        <input matInput placeholder="Enter OTP" >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>city</mat-label>
        <input matInput placeholder="Enter OTP" >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>state</mat-label>
        <input matInput placeholder="Enter OTP" >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>country</mat-label>
        <input matInput placeholder="Enter OTP" >
      </mat-form-field>
      <button mat-flat-button style="background-color: #ffd000">Request For Registration</button>
    </div>

  </div>  -->

  <mat-card style="display: flex; justify-content: center; width: 80%; margin-top: 3%; margin-left: 10%; margin-right: 10%;">
    <mat-horizontal-stepper [linear]="isLinear" #stepper style="width: 60%;">
      <mat-step [stepControl]="emailForm">
        <form [formGroup]="emailForm">
          <ng-template matStepLabel>ENTER EMAIL FOR VERIFICATION</ng-template>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="please enter Email address" formControlName="email" required>
          </mat-form-field>
          <div>
            <button mat-stroked-button style="border-color: #ffd000;" (click)="sendOtp(emailForm.get('email').value)" *ngIf="!otpSendflag">Send OTP</button>
            <button mat-button style="background-color: #ffd000" matStepperNext *ngIf="otpSendflag">next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="otpForm" label="Verify OTP">
        <form [formGroup]="otpForm">
          <mat-form-field>
            <mat-label>Verify OTP</mat-label>
            <input matInput formControlName="otp" placeholder="OTP"
                   required>
          </mat-form-field>
          <div>
            <!-- <button mat-button matStepperPrevious>Back</button> -->
            <button mat-stroked-button *ngIf="!isverified" style="border-color: #ffd000;" (click)="verifyOtp(otpForm.get('otp').value)"
            >Verify OTP</button>
            <button mat-button style="background-color: #ffd000" matStepperNext *ngIf="isverified">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>ADD HOTEL INFO</ng-template>
        <form [formGroup]="hoteluserform">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Hotel Name</mat-label>
            <input matInput placeholder="Hotel" formControlName="name">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Phone Number" formControlName="phone1">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Line 1</mat-label>
            <input matInput placeholder="Enter Address Line 1" formControlName="line1">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Line 2</mat-label>
            <input matInput placeholder="Enter Address Line 2" formControlName="line2">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Landmark</mat-label>
            <input matInput placeholder="Enter Landmark" formControlName="landmark">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Pincode</mat-label>
            <input matInput placeholder="Enter Pincode" formControlName="pincode">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>City</mat-label>
            <input matInput placeholder="Enter City" formControlName="city">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>State</mat-label>
            <input matInput placeholder="Enter State" formControlName="state">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Country</mat-label>
            <input matInput placeholder="Enter Country" formControlName="country">
          </mat-form-field>
        </form>

        <div>
          <button mat-button (click)="submit(hoteluserform.value)">Request for Registeration</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  
  </mat-card>

  