<div id="login-box">
    <div class="left-box">
      <h1> Registration</h1>
      <mat-form-field class="example-full-width" appearance="outline" *ngIf="!otpsentflag">
        <mat-label>Please enter OTP</mat-label>
        <input matInput placeholder="OTP" [formControl]="otpboxcontrol">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline" *ngIf="otpsentflag">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password"[formControl]="passControl" >
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline" *ngIf="otpsentflag">
        <mat-label>Confirm Password</mat-label>
        <input matInput placeholder="Confirm Password"[formControl]="cpassControl" >
      </mat-form-field>

      <button mat-flat-button style="background-color: #ffd000" *ngIf="!otpsentflag" (click)="verifyOtp(otpboxcontrol.value)">Verify OTP</button>
      <button mat-flat-button style="background-color: #ffd000" *ngIf="otpsentflag" (click)="submit(passControl.value)"
      [disabled]="!(passControl.value === cpassControl.value)">Submit</button>
      <!-- <input type="submit" name="Request For Registration" placeholder="Sing Up"/> -->
    </div>
    <div class="right-box" id="content-desktop">
    </div>
  </div> 
