<mat-toolbar  class="example-toolbar" style="display: flex; flex-direction: row; justify-content: space-between;">
	<div style="display: flex; flex-direction: row; justify-content: start;">
		<button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
		<h1 class="example-app-name">Hotel Management</h1>
	
	</div>
	<div>
		<button mat-mini-fab style="background-color: rgb(235, 60, 60);" (click)="logout()"> <mat-icon>settings_power</mat-icon></button>
	</div>

</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav mode="side"  opened class="example-sidenav"
	 (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list >
			<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent" routerLink="/admin">
				<span class="full-width" *ngIf="isExpanded || isShowing" style="min-width: 200px;">
					Hotel
				</span>
				<mat-icon mat-list-icon>home_work</mat-icon>
			</mat-list-item>
			<mat-divider></mat-divider>
			<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent"  routerLink="customers">
				<span class="full-width" *ngIf="isExpanded || isShowing">Customers</span>
				<mat-icon mat-list-icon>supervisor_account</mat-icon>
			</mat-list-item>	
			<mat-divider></mat-divider>
		</mat-nav-list>
    <mat-nav-list>
</mat-nav-list>
	</mat-sidenav>

	<div class="example-sidenav-content">

		<!-- <app-admin-tabs></app-admin-tabs>\ -->
		<router-outlet></router-outlet>

	</div>

</mat-sidenav-container>