<div class="tab_container">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1"><i class="fa fa-code"></i><span>Requested</span></label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2"><i class="fa fa-pencil-square-o"></i><span>Approved</span></label>

    <input id="tab3" type="radio" name="tabs">
    <label for="tab3"><i class="fa fa-bar-chart-o"></i><span>Verified</span></label>

    <input id="tab4" type="radio" name="tabs">
    <label for="tab4"><i class="fa fa-bar-chart-o"></i><span>Published</span></label>

    <input id="tab5" type="radio" name="tabs">
    <label for="tab5"><i class="fa fa-folder-open-o"></i><span>Rejected</span></label>

    <section id="content1" class="tab-content">
          <div *ngFor="let hotel of requestedHotesl">
            <mat-card>
              Name : <strong>{{hotel.name}}</strong>
              <br>
              <br>
              City : <strong>{{hotel.address.city}}</strong>
              <br><br>
              <button mat-raised-button style="background-color: rgb(13, 136, 13); color: white;"
              (click)="approve(hotel)">APPROVE</button>&nbsp;
              <button mat-raised-button style="background-color: rgb(150, 10, 22);  color: white;">REJECT</button>

            </mat-card>
            <br>
          </div>
    </section>

    <section id="content2" class="tab-content">
      <div *ngFor="let hotel of approvedHotels">
        <mat-card>
          Name : <strong>{{hotel.name}}</strong>
          <br>
          <br>
          City : <strong>{{hotel.address.city}}</strong>
          <br><br>
          <button mat-raised-button style="background-color: rgb(13, 136, 13); color: white;"
          (click)="sendActivationEmail(hotel)">Send Email Activation link</button>&nbsp;

        </mat-card>
        <br>
      </div>
    </section>

    <section id="content3" class="tab-content">
      <div *ngFor="let hotel of verifiedHotels">
        <mat-card>
          Name : <strong>{{hotel.name}}</strong>
          <br>
          <br>
          City : <strong>{{hotel.address.city}}</strong>
          <br><br>
        </mat-card>
        <br>
      </div>
    </section>

    <section id="content4" class="tab-content">
      <div *ngFor="let hotel of publishedHotels">
        <mat-card>
          Name : <strong>{{hotel.name}}</strong>
          <br>
          <br>
          City : <strong>{{hotel.address.city}}</strong>
          <br><br>
        </mat-card>
        <br>
      </div>
    </section>

    <section id="content5" class="tab-content">
      <div *ngFor="let hotel of rejectedHotels">
        <mat-card>
          Name : <strong>{{hotel.name}}</strong>
          <br>
          <br>
          City : <strong>{{hotel.address.city}}</strong>
          <br><br>
        </mat-card>
        <br>
      </div>
    </section>
</div>
